<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Deme Server Setuo</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/wizard.css">
  </head>

  <body>

    <div class="main">
      
      <div class="container">
        <h2>Setup the Deme server</h2>


        <form method="POST" id="signup-form" class="signup-form wizard clearfix" novalidate="novalidate" role="application">
          <div class="steps clearfix">
            <ul role="tablist">

              <li role="tab" class="disabled" aria-disabled="false" aria-selected="true">
                <a id="signup-form-t-0" aria-controls="signup-form-p-0">
                  <span class="current-info audible">
                  </span>
                  <div class="title">
                    <span class="number">1
                    </span>
                    <span class="title_text">General Information
                    </span>
                  </div>
                </a>
              </li>

              <li role="tab" class="disabled" aria-disabled="true">
                <a id="signup-form-t-1" aria-controls="signup-form-p-1">
                  <div class="title">
                    <span class="number">2
                    </span>
                    <span class="title_text">Deme Configurator
                    </span>
                  </div>
                </a>
              </li>

              <li role="tab" class="current" aria-disabled="true">
                <a id="signup-form-t-2" aria-controls="signup-form-p-2">
                  <div class="title">
                    <span class="number">3
                    </span>
                    <span class="title_text">Configuration Summary
                    </span>
                  </div>
                </a>
              </li>
            </ul>
          </div>

          <div class="content clearfix">

            <fieldset id="signup-form-p-0" role="tabpanel" aria-labelledby="signup-form-h-0" class="body current" aria-hidden="false">
              <div id="pbkeys">
                <!-- This will be updated from javascript -->
                <div class="form-group">
                  <label class="form-label">Title</label>
                  <div class="textarea">
                    {{TITLE}}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"><div style="">UUID</div></label>
                <div class="textarea">
                  {{UUID}}
                </div>
              </div>


              <div class="form-group">
                <label class="form-label"><div style="">Cryptographic Group</div></label>
                <div class="textarea">
                  {{GROUP_NAME}}
                </div>
              </div>

              <div class="form-group">
                <label class="form-label"><div style="">Hash Function</div></label>
                <div class="textarea">
                  {{HASH_NAME}}
                </div>
              </div>

                            
              <div class="form-group">
                <label class="form-label">Guardian</label>
                <div class="textarea">
                  {{GUARDIAN}}
                </div>
              </div>

              <div class="form-group">
                <label class="form-label">Authorized Roles</label>
                <div class="textarea">
                  {{{ROLES}}}
                </div>
              </div>


              <div class="form-group">
                <label class="form-label">Current Commit</label>
                <div class="textarea">
                  {{COMMIT}}
                </div>
              </div>

            </fieldset>
            </div>
        </form>


        <div class="fieldset-footer">
          <div class="actions clearfix">
            <span>Signed by Guardian on {{ISSUE_DATE}}
            </span>
            <ul role="menu" aria-label="Pagination">
              <li aria-disabled="true">
                <a href="configurator.html" role="menuitem">Previous
                </a>
              </li>
              <li style="display: none;" id="submitBtn" aria-hidden="false" aria-disabled="false">
                <a href="" role="menuitem" onclick="">Next
                </a>
              </li>
              <li style="" aria-hidden="true">
                <form id="commit" method="POST" action="/setup-summary"></form>
                <a href="#" onclick="document.getElementById('commit').submit();" role="menuitem">Commit</a>
              </li>
            </ul>
          </div>
        </div>

        </div>
        </div>

        <!-- <script src="js/advanced-configurator.js"></script> -->
  </body>

</html>
